html {
    scroll-behavior: smooth; 
}

body {
    background-color: #242525;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-custom {
    background-color: #242525;
}

.logo {
    background: -webkit-linear-gradient(45deg, #C9A9D9 3.17%, #86E3CE 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.3em;
}

.nav-link {
    color: white;
    letter-spacing: 0.1em;
    font-size: 15.5px;
    margin-left: 30px;
}

#blob {
    left: 250px;
    top: 150px;
    position: absolute;
    z-index: -1;
}

#helloname {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-top: 150px;
}

#section1 {
    height: 100vh;
}

#hello {
    font-size: 60px;
    font-weight: 500;
}

#name {
    margin: auto;
    font-size: 80px;
    font-weight: 600;
    text-align: left;
}

#gettoknowmorediv {
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

.greetings-row {
    padding-top: 17vh;
}

#gettoknowmore {
    font-weight: 600;
    font-size: 25px;
    color: #74D7BD !important;
    padding-top: 25%;
}

#section2 {
    height: 80vh;
}

.about-me-row {
    padding-top: 30px;
    padding-bottom: 50px;
}

#about-me-title {
    font-size: 30px;
    text-align: left;
}
.button {
    border-radius: 40px;
    background: linear-gradient(90.19deg, #FFDD95 -11.52%, #FA897B 59.42%);
    filter: drop-shadow(0px 15px 7px rgba(0, 0, 0, 0.25));
    display: flex;
}

.btn-text {
    font-size: 19px;
    padding-top: 5px;
    letter-spacing: 0.07em;
}

#image{
    width: 90%;
    height: auto;
    padding-top: 40px;
}

#about-me-text {
    font-size: 20px;
    text-align: left;
}

#ui{
    height: 3%;
}

#sma17 {
    height: 4%;
}

#smp9{
    height: 9%;
}

#contact-button {
    margin-top: 50px;
    background: linear-gradient(90.19deg, #74D7BD -11.52%, #C9A9D9 59.42%);
    filter: drop-shadow(0px 15px 7px rgba(0, 0, 0, 0.25));
}

#edu {
    background: -webkit-linear-gradient(45deg, #74D7BD 3.17%, #D0E6A5 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#experience {
    background: -webkit-linear-gradient(45deg, #FA897B 3.17%, #FFDD95 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socmed {
    color: white;
    width: 50px;
    height: auto;
    margin: 25px;
}

#uppersocmed {
    text-align: center;
    padding-top: 100px;
    background: -webkit-linear-gradient(45deg, #FA897B 3.17%, #FFDD95 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#randomfactstitle {
    background: -webkit-linear-gradient(45deg, #FA897B 3.17%, #FFDD95 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 400;
    /* letter-spacing: 0.3em; */
    padding-top: 10vh;
}

#randomfactscontent {
    font-size: 20px;
}

.strong-text {
    background: -webkit-linear-gradient(45deg, #FA897B 3.17%, #FFDD95 78.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
    #blob {
        left: 100px;
        top: 150px;
    }

    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #helloname {
        padding-left: 150px;
    }

    #hello {
        font-size: 50px;
    }

    #name {
        font-size: 70px;
    }

    #blob {
        width: 40%;
    }

    #gettoknowmorediv {
        padding-top: 40%;
    }

    #image {
        width: 50%;
    }

    .about-me-row {
        align-content: center;
        justify-content: center;
    }
    #about-me-text {
        text-align: center;
    }
    #about-me-title {
        text-align: center;
    }

    /* #button-div {
        display: flex;
        align-content: center;
        padding-left:23vw;
    } */

 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #helloname {
        padding-left: 0px;
    }

    #name {
        text-align: center;
    }

    #blob {
        width: 100%;
        left: -150px;
        top: 200px;
    }

    #gettoknowmorediv {
        padding-top: 30%;
    }
    #image {
        width: 80%;
    }
    

 }